.Gif{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 5px;
    width: 100%;
    padding: 0px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.Gif grid

.Gif h4{
    margin: 0;;
}
.Gif img{
    object-fit: contain;
    width: 100%;
    
}
i{
    font-size: 80px;
}