.Gif{
    border:1px solid #ccc;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 5px;
    width: 100%;
    padding: 15px;
}




.Gif h4{
    margin: 0;;
}
.Gif img{
    object-fit: contain;
    width: 100%;
    
}
i{
    font-size: 80px;
}