.App {
  text-align: center;
}

.App-content {
  background-color: #5d5858;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header{
  background-color: #2e4e8f;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  color: rgb(45, 140, 191);
  text-decoration: none;
  font-size: 25px;
  
}
footer{
  background-color: #2e4e8f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.gif-icon{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.gif-grid{
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}
